////
/// Block stylesheet.
///
/// @author Justin Tadlock <justintadlock@gmail.com>
/// @link   https://github.com/x3p0-dev/x3p0-media-data
////

///
/// Styles the Media Data container block.
///
.wp-block-x3p0-media-data {
	box-sizing: border-box;
}
